/**
 * @file
 * Visual styles for Top+ Lite's accordions.
 */

 /*Style 1*/
.collapse-group {
  margin: 0 0 25px 0;
  border-width: 0px;
  border-style: solid;
  border-color: #000000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  overflow: hidden;
}
.collapse-group .card {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-width: 0 0 2px 0;
  border-color: #000000;
  background-color: transparent;
  box-shadow: none;
}
.collapse-group .card:last-child {
  border-bottom: none;
}
.collapse-group .card + .card {
  margin: 0;
}
.card-header {
  background-color: #ffffff;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-bottom: none;
}
.card-title {
  margin-bottom: 0;
}
.card-title a {
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  background-color: #f4f4f4;
  color: #000000;
  border-width: 2px 0;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
.card-title a:hover,
.card-title a:focus {
  color: #000000;
}
.headings-wide-spacing-enabled .card-title a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.card-title a.collapsed {
  background-color: #ffffff;
  border-bottom-color: transparent;
}
.card-title a:hover,
.card-title a:focus {
  background-color: #f4f4f4;
}
.card-title a i {
  padding-right: 5px;
}
.card-header--trigger-icon .card-title a {
  position: relative;
  padding-right: 65px;
}
.card-header--trigger-icon .card-title a:after {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #000000;
  color: #ffffff;
  top: 50%;
  right: 30px;
  margin-top: -15px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  font-family: "FontAwesome";
  line-height: 30px;
  content: "\f106";
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.headings-wide-spacing-enabled .card-header--trigger-icon .card-title a:after {
  letter-spacing: 0;
}
.card-header--trigger-icon .card-title a.collapsed:after {
  content: "\f107";
}
.card-title span {
  display: inline-block;
  padding-right: 5px;
}
.card-body {
  padding: 20px;
  background-color: #fff;
  color: #2d2d2d;
  border-top-color: #eaeaea;
}

/*accrodions @colored-regions*/
.region--gray-background .card-title a {
  background-color: #ffffff;
}

/*Style 2*/
.collapse-group.collapse-group--style-2 {
  border-width: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  overflow: visible;
}
.collapse-group.collapse-group--style-2 .card {
  border-width: 0;
}
.collapse-group.collapse-group--style-2 .card + .card {
  margin-top: 10px;
}
.collapse-group.collapse-group--style-2 .card-header {
  background-color: transparent;
}
.collapse-group.collapse-group--style-2 .card .card-title a {
  color: #000000;
}
.collapse-group.collapse-group--style-2 .card-header--trigger-icon .card-title a {
  padding-right: 35px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
}
.collapse-group.collapse-group--style-2 .card-header--trigger-icon .card-title a:after {
  right: 10px;
  content: "\f056";
  background-color: transparent;
  color: inherit;
}
.collapse-group.collapse-group--style-2 .card-header--trigger-icon .card-title a.collapsed:after {
  content: "\f055";
}
.collapse-group.collapse-group--style-2 .card-body {
  background-color: transparent;
  color: inherit;
  border-top: none;
  padding: 15px 25px;
}

/*Style 2 @colored regions*/
.region--black-background .collapse-group.collapse-group--style-2 .card-header--trigger-icon .card-title a.collapsed {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.region--black-background .collapse-group.collapse-group--style-2 .card-header--trigger-icon .card-title a,
.region--black-background .collapse-group.collapse-group--style-2 .card-header--trigger-icon .card-title a:hover {
  background-color: #ffffff;
  color: #000000;
}
