/**
 * @file
 * Visual styles for Top+ Lite's front page background.
 */
.background-image-area {
  position: relative;
  overflow: hidden;
}
.background-image-area__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-attachment: scroll;
  background-size: cover;
}
@media (min-height: 1080px) , (min-width: 1920px) {
  .background-image {
    background-size: cover;
  }
}
.background-image-area__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
