/**
 * @file
 * Visual styles for Top+ Lite's views.
 */
.views-field-title a {
  display: block;
  text-decoration: none;
}

/*more links*/
.view > .more-link a {
  margin: 0 0 10px 0px;
  display: inline-block;
  background-color: transparent;
  padding:0;
  text-align: left;
  border: none;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
.region--dark-typography .view > .more-link a {
  color: #000000;
}
.region--dark-background .view > .more-link a,
.region--colored-background .view > .more-link a {
  border-color: #000000;
}
.region--dark-typography .view > .more-link a:hover {
  color: #000000;
  border-color: transparent;
}
.region--light-typography .view > .more-link a {
  border-color: #ffffff;
}
.region--light-typography .view > .more-link a:hover {
  border-color: transparent;
}
.headings-wide-spacing-enabled .view > .more-link a {
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.col-12 .view > .more-link {
  text-align: center;
}
.col-12 .view > .more-link a {
  font-size: 24px;
  padding: 12px 25px;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  min-width: 200px;
  color: #000000;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 20px 0 10px;
  text-align: center;
  background-color: transparent;
}
.col-12 .view > .more-link a:hover {
  color: #000000;
}
.col-12 .view > .more-link a:after {
  content: "";
}
.region--dark-typography .col-12 .view > .more-link a {
  border-color: transparent;
}
.region--colored-background .col-12 .view > .more-link a,
.region--dark-background .col-12 .view > .more-link a,
.region--colored-background .col-12 .view > .more-link a:hover,
.region--dark-background .col-12 .view > .more-link a:hover,
.region--colored-background .col-12 .view > .more-link a:focus,
.region--dark-background .col-12 .view > .more-link a:focus {
  border-color: #000000;
}
.region--light-typography .col-12 .view > .more-link a {
  color: #000000;
  border-color: #000000;
}
.region--light-typography .col-12 .view > .more-link a:hover {
  color: #000000;
}

/*more links @sidebars and footer regions*/
.footer__section .view > .more-link a {
  margin: 10px 0 0;
  text-transform: none;
}

/*clear grid floats*/
.view.row .view-content:before,
.view.row .view-content:after {
  display: table;
  content: " ";
}
.view.row .view-content:after {
  clear: both;
}
